.leaderboard-container {
  margin-top: 10px;
  padding: 10px;
  background-color: #fefefe;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.leaderboard-container h2 {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
  color: #333;
}

.leaderboard-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  align-items: center;
  border: #333 1px solid;
  border-radius: 5px;
  margin: 8px 40px;
}

.rank-1 {
  font-size: 26px;
  font-weight: bold;
  background: #ffe680;
  border-radius: 8px;
  margin: 8px 0px;
}

.rank-2 {
  font-size: 22px;
  background: #e6e6e6;
  margin: 8px 15px;
}

.rank-3 {
  font-size: 20px;
  background: #ffd9b3;
  margin: 8px 30px;
}

.rank,
.name,
.points {
  flex: 1;
  text-align: center;
}
